body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 2.5em;
}

header p {
    text-align: center;
    font-size: 1.2em;
    margin: 0;
}

.contact, .summary, .experience, .education, .certificates, .skills, .awards {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.contact ul, .experience ul, .certificates ul, .skills ul, .awards ul {
    list-style: none;
    padding: 0;
}

.contact ul li, .experience ul li, .certificates ul li, .skills ul li, .awards ul li {
    padding: 5px 0;
}

.contact ul li a, .experience ul li a, .certificates ul li a {
    color: #333;
    text-decoration: none;
}

.contact ul li a:hover, .certificates ul li a:hover {
    color: #77aaff;
}

h2 {
    text-align: center;
    color: #333;
    padding-bottom: 10px;
}

h3, h4 {
    color: #333;
    margin-bottom: 5px;
}

h3 span, h4 span {
    font-weight: normal;
    font-size: 0.8em;
    color: #777;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
